# Refactor validation

format=0
bundle=0
runtime=0
analyze=0
test=0
